@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Community Assist is a financial assistance non-profit. Community Assist focuses on providing grants to relieve some of the acute financial burdens to those in our community who find themselves in sudden need.</p>
